<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./scripts/index.js"></script>

    <link rel="stylesheet" href="styles/index.css">
    <title>mis productosasdas</title>
  </head>
  <body>
    <body>
      <div id="list-products">
        <h2>Products</h2>
        <div class="items-container">
          {{#each data}}
            <div>
              <h3>{{this.nombre}}</h3>
              <p>{{this.descripcion}}</p>
              <span>${{this.precio}}</span>
              <p>{{this.stock}}</p>
              <img src={{this.thumbnail}} alt="" />
            </div>
          {{/each}}
        </div>
      </div>

      <div>
        <h2>INGRESAR NUEVO PRODUCTO</h2>
        <form method="POST" action="/api/productos">
          <label for="title">Nombre</label>
          <input type="text" name="nombre" id="title-input" />

          <label for="price">Precio</label>
          <input type="number" name="precio" id="price-input" />

          <label for="thumbnail">Descripcion</label>
          <input type="text" name="descripcion" id="descripcion" />

          <label for="thumbnail">Codigo</label>
          <input type="text" name="codigo" id="thumbnail" />

          <label for="thumbnail">Stock</label>
          <input type="text" name="stock" />

          <label for="thumbnail">Thumbnail</label>
          <input type="text" name="thumbnail" />

          <button>Enviar</button>
        </form>
      </div>
    </body>
  </body>
</html>